In [89]:
import pandas as pd
import numpy as np

In [91]:
pat = pd.read_csv('Patient_Data.csv')
pat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

In [93]:
print(pat.columns)

Index(['PatientID', 'Name', 'Department', 'Doctor', 'BillAmount',
       'ReceptionistID', 'CheckInTime'],
      dtype='object')

In [95]:
pat_df = pat
pat_df.drop(columns = ['Name','ReceptionistID','CheckInTime'], inplace = True)
pat_df
pat_df.shape

(6, 4)

In [97]:
pat_df.describe()

        PatientID   BillAmount
count    6.000000     4.000000
mean   102.666667  5925.000000
std      1.632993  1192.686044
min    101.000000  5000.000000
25%    101.250000  5000.000000
50%    102.500000  5600.000000
75%    103.750000  6525.000000
max    105.000000  7500.000000

In [99]:
pat_df.groupby('Department')['BillAmount'].sum()

Department
Cardiology     16200.0
Dermatology        0.0
Neurology          0.0
Orthopedics     7500.0
Name: BillAmount, dtype: float64

In [101]:
pat_df.drop_duplicates(subset = ['PatientID'], inplace = True)

In [103]:
pat_df.shape

(5, 4)

In [105]:
pat_df.isna()

   PatientID  Department  Doctor  BillAmount
0      False       False   False       False
1      False       False   False        True
2      False       False   False       False
3      False       False   False       False
4      False       False   False        True

In [107]:
pat_df['BillAmount'].isna().sum()

2

In [109]:
mean = pat_df['BillAmount'].mean()
pat_df['BillAmount'] = pat_df['BillAmount'].fillna(mean)

In [111]:
pat_df['BillAmount'].isna().sum()

0

In [113]:
bill = pd.read_csv('Billing_Data.csv')
bill

   PatientID  InsuranceCovered  FinalAmount
0        101              2000         3000
1        102              1500         3500
2        103              2500         5000
3        104              3000         3200
4        105              1000         4000

In [115]:
merge_csv = pd.merge(pat, bill, on = 'PatientID', how = 'inner')
merge_csv

,PatientID,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Cardiology,Dr. Smith,5000.000000,2000,3000
1,102,Neurology,Dr. John,6233.333333,1500,3500
2,103,Orthopedics,Dr. Lee,7500.000000,2500,5000
3,104,Cardiology,Dr. Smith,6200.000000,3000,3200
4,105,Dermatology,Dr. Rose,6233.333333,1000,4000

In [117]:
# New patients for the current week
new_patients = pd.DataFrame({
    'PatientID': [106, 107],
    'Department': ['Cardiology', 'Orthopedics'],
    'BillAmount': [5800, 6400],
    'DoctorID': [205, 206]
})
    
# Concatenate row-wise
con_df = pd.concat([pat_df, new_patients], ignore_index=True)
print(con_df)

   PatientID   Department     Doctor   BillAmount  DoctorID
0        101   Cardiology  Dr. Smith  5000.000000       NaN
1        102    Neurology   Dr. John  6233.333333       NaN
2        103  Orthopedics    Dr. Lee  7500.000000       NaN
3        104   Cardiology  Dr. Smith  6200.000000       NaN
4        105  Dermatology   Dr. Rose  6233.333333       NaN
5        106   Cardiology        NaN  5800.000000     205.0
6        107  Orthopedics        NaN  6400.000000     206.0

In [119]:
# New billing category columns
new_columns = pd.DataFrame({
    'InsuranceCovered': [True, False, True, False, True, False, True],
    'FinalAmount': [4500, 7500, 5000, 0, 0, 5800, 6400]
})

# Concatenate column-wise
col_df = pd.concat([pat_df, new_columns], axis=1)
print(col_df)

   PatientID   Department     Doctor   BillAmount  InsuranceCovered  \
0      101.0   Cardiology  Dr. Smith  5000.000000              True
1      102.0    Neurology   Dr. John  6233.333333             False
2      103.0  Orthopedics    Dr. Lee  7500.000000              True
3      104.0   Cardiology  Dr. Smith  6200.000000             False
4      105.0  Dermatology   Dr. Rose  6233.333333              True
5        NaN          NaN        NaN          NaN             False
6        NaN          NaN        NaN          NaN              True

   FinalAmount
0         4500
1         7500
2         5000
3            0
4            0
5         5800
6         6400