In [3]:
import pandas as pd
import numpy as np

In [5]:
pat = pd.read_csv('Patient_Data.csv')
pat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

In [7]:
print(pat.columns)

Index(['PatientID', 'Name', 'Department', 'Doctor', 'BillAmount',
       'ReceptionistID', 'CheckInTime'],
      dtype='object')

In [9]:
pat_df = pat
pat_df.drop(columns = ['Name','ReceptionistID','CheckInTime'], inplace = True)
pat_df
pat_df.shape

(6, 4)

In [11]:
pat_df.describe()

        PatientID   BillAmount
count    6.000000     4.000000
mean   102.666667  5925.000000
std      1.632993  1192.686044
min    101.000000  5000.000000
25%    101.250000  5000.000000
50%    102.500000  5600.000000
75%    103.750000  6525.000000
max    105.000000  7500.000000

In [13]:
pat_df.groupby('Department')['BillAmount'].sum()

Department
Cardiology     16200.0
Dermatology        0.0
Neurology          0.0
Orthopedics     7500.0
Name: BillAmount, dtype: float64

In [15]:
pat_df.drop_duplicates(subset = ['PatientID'], inplace = True)

In [17]:
pat_df.shape

(5, 4)

In [19]:
pat_df.isna()

   PatientID  Department  Doctor  BillAmount
0      False       False   False       False
1      False       False   False        True
2      False       False   False       False
3      False       False   False       False
4      False       False   False        True

In [21]:
pat_df['BillAmount'].isna().sum()

2

In [23]:
mean = pat_df['BillAmount'].mean()
pat_df['BillAmount'] = pat_df['BillAmount'].fillna(mean)

In [25]:
pat_df['BillAmount'].isna().sum()

0

In [27]:
bill = pd.read_csv('Billing_Data.csv')
bill

   PatientID  InsuranceCovered  FinalAmount
0        101              2000         3000
1        102              1500         3500
2        103              2500         5000
3        104              3000         3200
4        105              1000         4000

In [29]:
merge_csv = pd.merge(pat, bill, on = 'PatientID', how = 'inner')
merge_csv

,PatientID,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Cardiology,Dr. Smith,5000.000000,2000,3000
1,102,Neurology,Dr. John,6233.333333,1500,3500
2,103,Orthopedics,Dr. Lee,7500.000000,2500,5000
3,104,Cardiology,Dr. Smith,6200.000000,3000,3200
4,105,Dermatology,Dr. Rose,6233.333333,1000,4000

In [65]:
pat_new = pd.DataFrame({'PatientID': [106, 107], 'Department': ['Pediatrics', 'Oncology'], 'Doctor': ['Dr. Adams', 'Dr. White'], 'BillAmount': [4500, 8000], 'InsuranceCovered': [2000, 3000], 'FinalAmount': [2500, 5000]})

In [73]:
updated_merge = pd.concat([merge_csv, pat_new], axis=0)
updated_merge = updated_merge.reset_index(drop=True)
updated_merge

,PatientID,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Cardiology,Dr. Smith,5000.000000,2000,3000
1,102,Neurology,Dr. John,6233.333333,1500,3500
2,103,Orthopedics,Dr. Lee,7500.000000,2500,5000
3,104,Cardiology,Dr. Smith,6200.000000,3000,3200
4,105,Dermatology,Dr. Rose,6233.333333,1000,4000
5,106,Pediatrics,Dr. Adams,4500.000000,2000,2500
6,107,Oncology,Dr. White,8000.000000,3000,5000

In [79]:
extra_info = pd.DataFrame({ 'RoomNumber': [201, 305, 410, 212, 108], # one value per patient 
                           'Admitted': ['Yes', 'Yes', 'No', 'Yes', 'No'] }) # Concatenate column-wise 
merge_with_cols = pd.concat([merge_csv, extra_info], axis=1) 
print(merge_with_cols.to_string())

   PatientID   Department     Doctor   BillAmount  InsuranceCovered  FinalAmount  RoomNumber Admitted
0        101   Cardiology  Dr. Smith  5000.000000              2000         3000         201      Yes
1        102    Neurology   Dr. John  6233.333333              1500         3500         305      Yes
2        103  Orthopedics    Dr. Lee  7500.000000              2500         5000         410       No
3        104   Cardiology  Dr. Smith  6200.000000              3000         3200         212      Yes
4        105  Dermatology   Dr. Rose  6233.333333              1000         4000         108       No